*{
    padding: 0;
    Margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-color: #3B4664;
    overflow: hidden;
    border: 1px solid black;
}

.FullScreen{
    position: relative;
    height: 100%;
    width: 100%;
    
}

.CalcBox{
    position: relative;
    top: 8rem;
    left: 36rem;
}

.OutputView{
    position: relative;
    height: 15vh;
    width: 30.5vw;
    background-color: #181F32;
    border-radius: 0.75rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: #FFFFFF;
    margin-right: 2rem;
    /* top: 11rem;*/
    
}

#screen{
    position: relative;
    /* right: 2rem; */
    height:100%;
    width: 28.5vw;
    border-radius: 1rem;
    border: none;
    background-color: var(--dark-blue);
    color: var(--white);
    text-align: right;
    padding-right: 3.5%;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    overflow-x: scroll;
    
    
}

.ButtonBox{
    background-color: #252D44;
    border-radius: 0.75rem;
    height: 50vh;
    width: 30.5vw;
    margin-top: 1rem;
    
}

.numPad{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1rem 1rem 0.1rem 0.5rem;
}

.calcButton{
    margin-top: 1.5rem;
    margin-left: 1rem;
    /* padding: 1rem 3rem 1rem 3rem; */
    width: 5.7rem;
    height: 3.1rem;
    border-radius: 0.75rem;
    font-family: inter;
    font-weight: 800;
    font-size: 1.75rem;
    color: #3B4664;
    border: none;
}

.delButton{
    background-color: #647299;
    color: #FFFFFF;
    /* */
    margin-top: 1.5rem;
    margin-left: 1rem;
    /* padding: 1rem 3rem 1rem 3rem; */
    width: 5.7rem;
    height: 3.1rem;
    border-radius: 0.75rem;
    font-family: inter;
    font-weight: 800;
    font-size: 1.75rem;
    border: none;
}

.resetButton{
    width: 13.5rem;
    background-color: #647299;
    color: #FFFFFF;
    font-size: 1.25rem;
    /* padding-left: 8rem;
    padding-right: 8rem; */
    margin-top: 1.5rem;
    margin-left: 1rem;
    /* padding: 1rem 3rem 1rem 3rem; */
    height: 3.1rem;
    border-radius: 0.75rem;
    font-family: inter;
    font-weight: 800;
    border: none;
}

.equalButton{
    width: 13.5rem;
    background-color: #D13F30;
    color: #FFFFFF;
    /* padding-left: 8rem;
    padding-right: 8rem; */
    margin-top: 1.5rem;
    margin-left: 1rem;
    /* padding: 1rem 3rem 1rem 3rem; */
    height: 3.1rem;
    border-radius: 0.75rem;
    font-family: inter;
    font-weight: 800;
    font-size: 1.75rem;
    border: none;
}